.header {
    padding: 3% 10%;
    background-color: #1F2937;
}

/* Navigation bar */

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

#header-link {
    display: flex;
    flex-grow: 8;
    justify-content: flex-end;
    gap:10px;
}

#header-link a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* Header main content */

.header-main{
    display: flex;
    flex-direction: row;
    padding: 3% 0%;
    gap: 3%;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#content{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    width:118px;
    height:50px;
    border: none;
    background-color: #3882F6;
    border-radius: 4px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
}

.header-main img{
    border-radius: 4px;
}

/* Main Content */

.main-content{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
}

.main-content #header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 30px;
}

.boxes{
    display: flex;
    flex-direction: row;
    width:50%;
    padding:30px;
    text-align: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img{
    width: 40px;
    height: 40px;
    border: 58px solid black;
}

/* Quote Session */
.quote-session{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 24%;
}

#quote-text{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}

#quote-source{
    font-weight: bold;
    align-self: flex-end;
}

/* Call to Action */
.call-to-action{
    background-color: #FFFFFF;
    padding: 3% 24%;
}

#call-to-action-box{
    border: none;
    background-color: #3882F6;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

#call-to-action-text{
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    padding-right: 60px;
}

#call-to-action-text #title{
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

#call-to-action-box button{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    align-self: flex-end;
}

/* Footer */
.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}