.header {
    padding: 3% 10%;
    background-color: #1F2937;
    width: 100%;
}

/* Navigation bar */

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

#header-link {
    display: flex;
    flex-grow: 8;
    justify-content: flex-end;
    gap:10px;
}

#header-link a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* Header main content */

.header-main{
    display: flex;
    flex-direction: row;
    padding: 3% 0%;
    gap: 3%;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#content{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    width:118px;
    height:50px;
    border: none;
    background-color: #3882F6;
    border-radius: 4px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
}

.header-main img{
    border-radius: 4px;
}

/* Main Content */

.main-content{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.main-content #header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes{
    display: flex;
    flex-direction: row;
}

.box{
    display: flex;
    flex-direction: column;
}

.box img{
    width: 40px;
    height: 40px;
}