.grid{
    border-style: solid;
    padding: 20px;
}

.changeToBlue{
    background-color:blue;
}

#container{
    display: grid; 
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); 
    padding: 10px;
}