.grid{
    border-style: solid;
    padding: auto;
}

.changeToBlue{
    background-color:blue;
}

#container{
    display: grid; 
    grid-template-columns: repeat(16,auto);
    grid-template-rows: repeat(16,auto); 
    width: 980px;
    height: 500px;
}